h1 {
    font-family: helvetica;
    color: green;
    font-size: 60px;
    text-align: center;
    border-block-end-style: dotted;
    background-color: bisque;
    animation: alternate;
    
    
}
body {
    margin-left: 10%;
	margin-right: 10%;
	border: 2px dotted blueviolet;
	padding: 10px 10px 10px 10px;
    font-family: times new roman;
    background-color: bisque;

}
img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}   
.hore {
    text-align: center;
    font-family: helvetica;
    font-size: 20px;
    color: red;
    
    
}
